body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  display: flexbox;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.f1_logo{
  width: 250px;
}
.меню-текст{
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-family: "dop";
  font-weight: bold;
}
.меню{
  height: auto;
  width: max-content;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}
.кнопка-меню {
  cursor: pointer;
  background-color: var(--tg-theme-bg-color);
  border-radius: 20px;
  height: 50px;
  width: 250px;
  background-color: rgb(0, 189, 214);
  color: white;
  font-size: 20px;
  border: none;
  transition: all 0.4s ease;
}
.кнопка-меню:hover{
  transform: scale(1.1);
  box-shadow: 0 8px 25px rgba(0, 225, 255, 0.6);
  background-color: rgb(0, 225, 255)
}
@font-face {
    font-family: 'dop';
    src: url('dopText.ttf') format('truetype');
}
