body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

html, body {
  height: 100%;
  margin: 0;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
}

.f1_logo{
  width: 300px;
}

.меню-текст{
  font-size: 30px;
  color: white;
}

.меню{
  background-color: var(--tg-theme-bg-color);
  height: auto;
  width: auto;
  border-radius: 30px;
}
.кнопка-меню {
  position: relative;
  height: 120px;
  width: 500px;
  background: rgb(49, 49, 49); 
  color: white;
  border: 1px solid rgb(255, 166, 0);
  font-size: 30px;
  margin-bottom: 50px;
  transition: all 0.4s ease;
}

button:active {
  opacity: 0.8;
}
