body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#app {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.f1_logo{
  width: 300px;
}

.меню-текст{
  font-size: 30px;
  color: white;
}

.меню{
  background-color: var(--tg-theme-bg-color);
  height: auto;
  width: auto;
  border-radius: 30px;
}
.кнопка-меню {
  position: relative;
  cursor: pointer;
  background-color: var(--tg-theme-bg-color);
  border-radius: 30px;
  
}

button:active {
  opacity: 0.8;
}
