body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;

  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

h1 {
  margin-bottom: 10px;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;

  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);

  cursor: pointer;
}

button:active {
  opacity: 0.8;
}
