body {
  margin: 0;
  display: flex;
  justify-content: center;
}
#app {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background 0.3s ease;
}
.page {
  display: none;
}
.page.active {
  display: block;
}
.page-main {
  background-image: url('../images/other/background1.jpg');
}
.page-profile {
  background-image: url('../images/other/background2.jpg');
}
.page-team {
  background-image: url('../images/other/background3.jpg');
}
.f1_logo{
  width: 250px;
}
.текст-мэйн{
  font-size: 14px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "dop";
  font-weight: bold;
}
.меню-текст{
  position: relative;
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-family: "dop";
  font-weight: bold;
}
.меню{
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  flex: 1;
  border-radius: 30px;
  width: max-content;
  padding: 10px 20px;
  background-color: rgb(0, 189, 214);
}
.кнопка-меню {
  cursor: pointer;
  height: 50px;
  width: 300px;
  background-color: rgb(0, 189, 214);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  transition: all 0.4s ease;
  font-family: "dop";
}
.кнопка-меню:hover{
  transform: scale(1.1);
  background-color: rgb(0, 225, 255);
}
.текст-меню {
  color: white;
  font-size: 20px;
  font-family: "dop";
}
.profile-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex: 1;
  border-radius: 30px;
  width: max-content;
  min-width: 300px;
  padding: 10px 20px;
  background-color: rgb(0, 165, 187);
}
.pfp{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.team_menu-container {
  display: grid;
  padding: 20px 20px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  background-color: rgb(0, 189, 214);
  border-radius: 25px;
}
.team_menu-container > :last-child:nth-child(odd) {
  grid-column: 1 / -1;
  justify-self: center;
  width: 50%;
}
.team_place-container{
  border-radius: 25px;
  padding: 10px 10px;
  width: max-content;
  height: max-content;
  border: none;
  background-color: rgb(0, 165, 187);
  transition: all 0.4s ease;
}
.team_place-container:hover{
  transform: scale(1.1);
  background-color: rgb(0, 225, 255);
}
.photo-team_container{
  border-radius: 25px;
  width: 150px;
  height: 150px;
}
@font-face {
    font-family: 'dop';
    src: url('dopText.ttf') format('truetype');
}
.activate-menuButtons-animation{
    animation: menuButtons 0.5s ease-out forwards;
}
@keyframes menuButtons{
    0%{
       opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
